@import 'base.css';
@import 'tailwind.css';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #fbf5f3;
  overflow-y: hidden;
  font-family: 'Sniglet';
  padding: 0;
}

img {
  max-width: none;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}