@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sniglet';
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url(../assets/fonts/Sniglet-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Sniglet';
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url(../assets/fonts/Sniglet-ExtraBold.otf) format('opentype');
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #fbf5f3;
    overflow-y: hidden;
    font-family: 'Sniglet';
    padding: 0;
}